.body{
	height:100%;
	width:100%;
}
/*.row{
	height:75%;
}*/
.top5 {
	margin-top:5%;
}

.navbar-brand{
	font-size:2rem;
	font-weight:800;
	padding-bottom:0;
}
.navbar-nav{
	cursor:pointer;
}
.navbar{
	padding-top: 10%;
	padding-bottom:0;
}

#brand-caption{
	padding: .5rem 1rem;
	margin-top:0;
	font-size:.75rem;
	color:grey;

}

.image-caption{
	padding: 0.5rem 1rem;
	margin-top:0;
	font-size:.75rem;
	color:grey;
}
